<app-navbar></app-navbar>
<app-sidenav></app-sidenav><div id="container1" dir="rtl">
    <div class="card" routerLink="/users">
      <div class="card-body text-center" routerLink="/newdept">
        <div>ادخال قرض جديد</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center" routerLink="/paydept">
        <div>إدخال البيانات المالية</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center" routerLink="/financialtransactionssummary">
        <div>ملخص البيانات المالية</div>
      </div>
    </div>
  </div>
