<form [formGroup]="passForm" class="d-flex flex-column">
    <div class="d-md-flex flex-column">
      <label class="text-center m-2 w-100" for="pass">
        الرجاء ادخال الرقم السري
      </label>
        <input
          type="text"
          class="form-control mx-auto my-2"
          dir="rtl"
          formControlName="pass"
          id="pass"
        />
      
    </div>
    <div class="mx-auto my-2">
      <button class="btn btn-success mx-2" (click)="onNoClick()">الغاء</button>
      <button
        type="submit"
        class="btn btn-success mx-2"
        [mat-dialog-close]="passForm.value"
      >
        تأكيد
      </button>
    </div>
  </form>