<app-navbar></app-navbar>
<app-sidenav></app-sidenav><div id="container1" dir="rtl">
    <div class="card" routerLink="/users">
      <div class="card-body text-center" routerLink="/mainmembers">
        <i class="fas fa-2x fa-users"></i>
        <div>المشتركين</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center"  routerLink="/notifications">
        <i class="fas fa-2x fa-bell"></i>
        <div>اشعارات</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center" routerLink="/maindept">
        <i class="fas fa-2x fa-file-alt"></i>
        <div>القروض</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center" routerLink="/investments">
        <i class="fas fa-2x fa-chart-bar"></i>
        <div>الاستثمار</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center"  routerLink="/zakat">
        <i class="fas fa-2x fa-coins"></i>
        <div>زكاة</div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-body text-center" routerLink="/mainreports">
        <i class="fas fa-2x fa-file-word"></i>
        <div>التقارير</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center"  routerLink="/archive">
        <i class="fas fa-2x fa-folder"></i>
        <div>الارشيف</div>
      </div>
    </div>
  
    <div class="card" routerLink="">
      <div class="card-body text-center">
        <i class="fas fa-2x fa-sign-out-alt"></i>
        <div>
          تسجيل الخروج
        </div>
      </div>
    </div>
  </div>
  
