#container1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 120px 120px 120px;
  grid-gap: 15px;
}
.card {
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px !important;
  i{
    margin-bottom: 15px;
  }
}
