<app-navbar></app-navbar>
<app-sidenav></app-sidenav><div id="container1" dir="rtl">
  <div class="card" routerLink="/users">
    <div class="card-body text-center" routerLink="/add-member">
      <div>تسجيل المشتركين</div>
    </div>
  </div>
    <div class="card" routerLink="/users">
      <div class="card-body text-center" routerLink="/members">
        <div>قائمة المشتركين</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center" routerLink="/connectmembers">
        <div>ربط المشتركين</div>
      </div>
    </div>
  </div>