<app-navbar></app-navbar>
<app-sidenav></app-sidenav><div id="container1">
    <h1 class="d-block text-right thelogo mx-5">تقرير ايرادات الاستثمار 1</h1>
    <div class="bgwhite d-block text-right">
      <div class="mx-2 px-5 py-3 bigFont"></div>
      <div class="flex-grow-1 text-right table-responsive thetable" dir="rtl">
        <table class="table">
          <thead>
            <tr class="bg-dark text-light">
  
  
              <th scope="col">الرقم التسلسلي</th>
              
              <th scope="col">التاريخ</th>
              <th scope="col">الايراد</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10</td>
              <td>2020-2-20</td>
              <td>2044</td>
            </tr>          <tr>
              <td>10</td>
              <td>2020-2-20</td>
              <td>2032</td>
            </tr>
            <tr>
              <td>10</td>
              <td>2020-2-20</td>
              <td>2320</td>
            </tr>
            <tr>
              <td>10</td>
              <td>2020-2-20</td>
              <td>2450</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  