<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<div id="container1">
    <h1 class="d-block text-right thelogo mx-5">ملخص البيانات المالية</h1>
    <div class="bgwhite d-block text-right">
        <div class="mx-2 px-5 py-3 bigFont"></div>
        <div class="flex-grow-1 text-right table-responsive thetable" dir="rtl">
            <table class="table">
                <thead>
                    <tr class="bg-dark text-light">


                        <th scope="col">الرقم التسلسلي</th>

                        <th scope="col">اسم المشترك</th>
                        <th scope="col">تسديد الاشتراك الشهري</th>
                        <th scope="col">مقدار القرض العادي</th>

                        <th scope="col">تسديد القرض العادي</th>
                        <th scope="col">الباقي من القرض العادي</th>




                        <th scope="col">تسديد القرض الفوري</th>

                        <th scope="col">الباقي من القرض الفوري</th>
                        <th scope="col">غرامات التاخير</th>
                        <th scope="col">تسديد غرامات التاخير</th>

                        <th scope="col">تاريخ التسديد</th>
                        <th scope="col">رقم الحساب البنكي للمشترك المسدد منه</th>
                        <th scope="col">ملاحظات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>علي محمد مسفر الميموني</td>
                        <td>500</td>
                        <td>160000</td>
                        <td>2500</td>
                        <td>48000</td>
                        <td>3000</td>
                        <td>2000</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2020-4-1</td>
                        <td>54352345</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>احمد علي محمد الميموني</td>
                        <td>500</td>
                        <td>160000</td>
                        <td>2500</td>
                        <td>56000</td>
                        <td>4000</td>
                        <td>1000</td>
                        <td>0</td>
                        <td>0</td>
                        <td>2020-4-1</td>
                        <td>2735735670</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>مسفر علي محمد الميموني</td>
                        <td>500</td>
                        <td>120000</td>
                        <td>2500</td>
                        <td>64000</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>200</td>
                        <td>2020-4-1</td>
                        <td>2155155340</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>صالح علي  خالد الميموني</td>
                        <td>0</td>
                        <td>150000</td>
                        <td>0</td>
                        <td>66000</td>
                        <td>0</td>
                        <td>0</td>
                        <td>200</td>
                        <td>0</td>
                        <td>2020-4-1</td>
                        <td>2024251514</td>
                        <td></td>
                    </tr>
                    <tr>
           
                        <th colspan="2">المجموع</th>
                        <th scope="col">1500</th>
                        <th scope="col">590000</th>

                        <th scope="col">7500</th>
                        <th scope="col">234000</th>




                        <th scope="col">7000</th>

                        <th scope="col">3000</th>
                        <th scope="col">200</th>
                        <th scope="col">200</th>

                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>