<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<div id="container1">
    <h1 class="d-block text-right thelogo mx-5">الارشيف</h1>
    <div class="bgwhite d-block text-right">
      <div class="mx-2 px-5 py-3 bigFont" dir="rtl">
        <div class="card thecard">
          <div class="card-body text-center">
            <i class="fas fa-file-pdf fa-5x"></i>
            <div class="m-2">بيانات الاعضاء</div>
            <button type="button" class="btn btn-outline-dark thebutton">تنزيل الملف</button>
  
          </div>
        </div> <div class="card thecard">
          <div class="card-body text-center">
            <i class="fas fa-file-pdf fa-5x"></i>
            <div class="m-2">بيانات الاعضاء</div>
            <button type="button" class="btn btn-outline-dark thebutton">تنزيل الملف</button>
          </div>
        </div> <div class="card thecard">
          <div class="card-body text-center">
            <i class="fas fa-file-pdf fa-5x"></i>
            <div class="m-2">بيانات الاعضاء</div>
            <button type="button" class="btn btn-outline-dark thebutton">تنزيل الملف</button>
          </div>
        </div> <div class="card thecard">
          <div class="card-body text-center">
            <i class="fas fa-file-pdf fa-5x"></i>
            <div class="m-2">بيانات الاعضاء</div>
            <button type="button" class="btn btn-outline-dark thebutton">تنزيل الملف</button>
          </div>
        </div> <div class="card thecard">
          <div class="card-body text-center">
            <i class="fas fa-file-pdf fa-5x"></i>
            <div class="m-2">بيانات الاعضاء</div>
            <button type="button" class="btn btn-outline-dark thebutton">تنزيل الملف</button>
          </div>
        </div> <div class="card thecard">
          <div class="card-body text-center">
            <i class="fas fa-file-pdf fa-5x"></i>
            <div class="m-2">بيانات الاعضاء</div>
            <button type="button" class="btn btn-outline-dark thebutton">تنزيل الملف</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
