<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<div id="container1">
    <h1 class="d-block text-right thelogo mx-5">الزكاه</h1>
    <div class="bgwhite d-block text-right">
        <div class="mx-2 px-5 py-3 bigFont"></div>
        <div class="flex-grow-1 text-right table-responsive thetable" dir="rtl">
            <table class="table">
                <thead>
                    <tr class="bg-dark text-light">
                        <th scope="col">معدل رصيد المشترك</th>
                        <th scope="col">عدد المثتركين</th>
                        <th scope="col">الاجمالي</th>
                        <th scope="col">اجمالي ايراد الاستثمار هذا العام</th>
                        <th scope="col">الاجمالي الكلي</th>
                        <th scope="col">مقدار زكاة العام السابق</th>
                        <th scope="col">المبلغ المزكى عنه هذا العام</th>
                        <th scope="col">مقداؤ الزكاة العام الحالي</th>
                        <th scope="col">رقم الشيك</th>
                        <th scope="col">التاريخ</th>
                        <th scope="col">ملاحظات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>65000</td>
                        <td>46</td>
                        <td>2990000</td>
                        <td>540000</td>
                        <td>353000</td>
                        <td>88000</td>
                        <td>3442000</td>
                        <td>86050</td>
                        <td>126</td>
                        <td>9/5/2020</td>
                        <td></td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </div>
</div>