<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<div id="container1">
  <h1 class="d-block text-right thelogo mx-5">التقرير لمراقبة القرض الفوري</h1>
  <div class="bgwhite d-block text-right">
    <div class="mx-2 px-5 py-3 bigFont"></div>
    <div class="flex-grow-1 text-right table-responsive thetable" dir="rtl">
      <table class="table">
        <thead>
          <tr class="bg-dark text-light">
            <th scope="col">الرقم التسلسلي</th>
            <th scope="col">الاسم</th>
            <th scope="col">تاريخ القرض</th>
            <th scope="col">القيمة المسدده</th>
            <th scope="col">القيمة المتبقية</th>

            <th scope="col">المدة المتبقية من فترة السماح</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20</td>
            <td>المشترك</td>
            <td>10</td>
            <td>4444</td>
            <td>20</td>
            <td>شهران</td>
          </tr>
          <tr>
            <td>20</td>
            <td>المشترك</td>
            <td>10</td>
            <td>4444</td>
            <td>20</td>
            <td>شهران</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>