<nav id="sidebar">
  <ul class="list-unstyled components">
    <li
      class="list-group-item d-flex w-100 bgg text-right"
      data-toggle="collapse"
      href="#collapseExample3"
    >
      <i class="fas fa-sort-down flex-grow-1 text-left"></i>
      <div>المشتركين<i class="fas fa-users mx-1"></i></div>
    </li>
    <ul
      class="list-group w-100 p-0 collapse bgg text-right"
      id="collapseExample3"
    >
      <li class="list-group-item pr-5 bgg" routerLink="/add-member">
        تسجيل المشتركين
      </li>

      <li class="list-group-item pr-5 bgg" routerLink="/members">
        قائمة المشتركين
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/connectmembers">
        ربط المشتركين
      </li>
    </ul>
    <li
      class="list-group-item d-flex w-100 bgg text-right"
      routerLink="/notifications"
    >
      <div class="flex-grow-1">اشعارات <i class="fas fa-bell mx-1"></i></div>
    </li>

    <li
      class="list-group-item d-flex w-100 bgg text-right"
      data-toggle="collapse"
      href="#collapseExample"
    >
      <i class="fas fa-sort-down flex-grow-1 text-left"></i>
      <div>القروض <i class="fas fa-file-alt mx-1"></i></div>
    </li>
    <ul
      class="list-group w-100 p-0 collapse bgg text-right"
      id="collapseExample"
    >
      <li class="list-group-item pr-5 bgg" routerLink="/newdept">
        ادخال قرض جديد
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/paydept">
        إدخال البيانات المالية
      </li>
      <li
        class="list-group-item pr-5 bgg"
        routerLink="/financialtransactionssummary"
      >
        ملخص البيانات المالية
      </li>
    </ul>
    <li
      class="list-group-item d-flex w-100 bgg text-right"
      routerLink="/investments"
    >
      <div class="flex-grow-1">
        الاستثمار <i class="fas fa-chart-bar mx-1"></i>
      </div>
    </li>
    <li class="list-group-item d-flex w-100 bgg text-right" routerLink="/zakat">
      <div class="flex-grow-1">زكاة <i class="fas fa-coins mx-1"></i></div>
    </li>
    <li
      class="list-group-item d-flex w-100 bgg text-right"
      data-toggle="collapse"
      href="#collapseExample2"
    >
      <i class="fas fa-sort-down flex-grow-1 text-left"></i>
      <div>التقارير <i class="fas fa-file-word mx-1"></i></div>
    </li>
    <ul class="list-group w-100 collapse bgg text-right" id="collapseExample2">
      <li class="list-group-item pr-5 bgg" routerLink="/monthlyreport">
        خلاصة التقرير الشهري
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/fullmonthlyreport">
        التقرير الشهري الشامل
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/watchurgentdept">
        التقرير لمراقبة القرض الفوري
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/watchnormaldept">
        التقرير لمراقبة القرض العادي
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/penaltyreport">
        التقرير لايرادات و مصروفات الغرامات
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/nodeptmembers">
        التقرير الاعضاء الغير مقترضين
      </li>
      <li class="list-group-item pr-5 bgg" routerLink="/investmentincome">
        تقرير ايرادات الاستثمار 1
      </li>
    </ul>
    <li
      class="list-group-item d-flex w-100 bgg text-right"
      routerLink="/archive"
    >
      <div class="flex-grow-1">الارشيف <i class="fas fa-folder mx-1"></i></div>
    </li>
    <li class="list-group-item d-flex w-100 bgg text-right" routerLink="">
      <div class="flex-grow-1">
        تسجيل الخروج <i class="fas fa-sign-out-alt mx-1"></i>
      </div>
    </li>
  </ul>
</nav>
