.thetable {
  width: 90%;
  margin: 1% 5% 5% 5%;
  border-radius: 15px !important;
}
.cont {
  margin: 0 5% 0 5%;
  display: block;
  background-color: white;
  border-radius: 20px;
}
.thetd {
  cursor: pointer;
}
.members{
  background-color: #444;
  th{
  font-size: 16px !important;
    
  }
}
.tbody{
    color: #444 !important;
}